:root {
    --color-orange: #eb5b02;
    --color-blue: #4A6BFF;
    --color-black: #000000;
    --color-white: #FFFEDE;
}
.appBar{
    background: linear-gradient(to bottom, #0f023c, black);
    padding: 1rem;
}
.appBar__ul{
    display: flex;
    gap: .7rem;
    
}
.appBar__ul__li{
    list-style: none;
    color: ghostwhite;
}